name: Deploy VitePress to GitHub Pages

on:
  push:
    branches:
      - master

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: npm install
      - name: Build site
        run: npm run docs:build
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: docs/public
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
